body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
}

.icon-link {
    color: #fff; /* Icon color */
    margin-right: 10px;
    text-decoration: none;
}

.icon-link:hover {
    color: #007BFF; /* Icon hover color */
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6eaed; /* Button background color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1.2em;
}

.resume-button:hover {
    background-color: #f3f4f5; /* Button hover background color */
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007BFF;
}

h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}