body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0;
    color: #e0e0e0;
}

.icon-link {
    color: #f9f7fb;
    text-decoration: none;
    margin: 0 10px;
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0e0e0;
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
}

resume-button i {
    margin-left: 5px;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Container for about-me, education, and skills cards */
.card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background: #1f1f1f;
    color: #e0e0e0;
}

/* Making sure each card takes an equal amount of space */
.card {
    background: #2b2b2b;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 30%; /* Set the width of each card to 30% */
    margin: 0 10px; /* To provide spacing between cards */
}

.about-me-card,
.education-card,
.skills-card {
    width: 30%; /* Ensure each card has the same width */
    margin: 0 10px;
}

/* .experience-card {
    margin-bottom: 20px;
}

.experience-card h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #e0e0e0;
}

.experience-card ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #e0e0e0;
}

.experience-card ul li {
    margin-bottom: 10px;
} */
.experience-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.experience-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.experience-card p {
    font-size: 1em;
    margin-bottom: 15px;
    color: #555;
}

.experience-card ul {
    list-style-type: disc;
    padding-left: 20px;
}

.experience-card ul li {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    color: #e0e0e0;
}

ul li {
    margin-bottom: 10px;
}

section h2 {
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #e0e0e0;
}

section p {
    line-height: 1.6;
    color: #e0e0e0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    color: #121212;
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}