body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
    font-size: smaller;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0;
    color: #e0e0e0;
}

.icon-link {
    color: #f9f7fb;
    text-decoration: none;
    margin: 0 10px;
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0e0e0;
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
}

.resume-button i {
    margin-left: 5px;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Container for about-me, education, and skills cards */
/* General card styling */
.intro-card {
    background-color: #827e7e55;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 calc(25% - 40px); /* 3 cards per row with 20px gap */
    box-sizing: border-box;
    margin: 20px 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.intro-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.intro-card p, .intro-card ul, .intro-card li {
    font-size: 1em;
    color: #e0e0e0;
    margin-bottom: 15px;
    list-style-type: none;
}

/* Responsive design */
@media (max-width: 992px) {
    .intro-card {
        flex: 1 1 calc(50% - 40px); /* 2 cards per row on medium screens */
    }
}

@media (max-width: 768px) {
    .intro-card {
        flex: 1 1 100%; /* 1 card per row on small screens */
    }
}

.experience-card {
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.experience-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.experience-card p {
    font-size: 1em;
    margin-bottom: 15px;
    color: #e0e0e0;
}

.experience-card ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #e0e0e0;
}

.experience-card ul li {
    margin-bottom: 10px;
    color: #e0e0e0;
}

section h2 {
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #e0e0e0;
}

section p {
    line-height: 1.6;
    color: #e0e0e0;
}

.main-card {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.project-card {
    background-color: #827e7e55;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 calc(25% - 40px); /* 4 cards per row with 20px gap */
    box-sizing: border-box;
}

@media (max-width: 992px) {
    .project-card {
        flex: 1 1 calc(50% - 40px); /* 2 cards per row on medium screens */
    }
}

@media (max-width: 768px) {
    .project-card {
        flex: 1 1 100%; /* 1 card per row on small screens */
    }
}

.certification-card {
    background-color: #827e7e55;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #e0e0e0;
    width: 100%; /* Adjust this value as needed */
    max-width: 1200px;
    box-sizing: border-box;
}

.certification-card h2 {
    font-size: 1.5em;
    color: #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.certification-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.certification-card li {
    font-size: 1em;
    line-height: 1.6;
    color: #e0e0e0;
    margin-bottom: 10px;
}

.certification-card li strong {
    font-weight: bold;
    color: #e0e0e0;
}

@media (max-width: 768px) {
    .certification-card {
        margin: 10px;
        padding: 10px;
    }

    .certification-card h2 {
        font-size: 1.2em;
        padding-bottom: 8px;
        margin-bottom: 15px;
    }

    .certification-card li {
        font-size: 0.3em;
        margin-bottom: 8px;
    }
}